<form action="/task/create" method="POST">
Add a New Task: 	<input type="text" name="name" id="name">
  <input type="submit" id="button" value="Add Task!"/>
</form>

<h2>Tasks:</h2>
<% unless @tasks.empty? %>
<ol>
<% @tasks.each do |task| %>
<li <%= "class=\"completed\"" if task.completed? %>>
<%= task.link %>
</li>
<% end %>
</ol>
<% else %>
<p>Add a new task!</p>
<% end %>

