<head>
<title>Ruby Manager</title>
<meta charset=utf-8 />
<style>
.completed{text-decoration:line-through;}
</style>
</head>
<body>
<h1><a href="/">Ruby Manager</a></h1>

<%= yield %>

</body>
</html>
